.skeleton-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    @include respond(phoneL)
        justify-content: space-evenly
.skeleton-left
    padding-top: 4rem
    margin-bottom: 4rem
    @include respond(phoneL)
        margin-bottom: 1rem
        padding-top: 2rem
    &-top
        margin-bottom: 4rem
        @include respond(phoneL)
            margin-bottom: 1rem
.skeleton-middle
    margin-bottom: 2rem
    @include respond(phoneL)
        margin-bottom: 1rem
