.main-search
    display: flex
    flex-wrap: wrap
    row-gap: 1rem
    justify-content: end
    &-input
        display: flex
        flex-wrap: wrap
        justify-content: center
        gap: 2rem
        position: relative
        input
            border: none
            padding: 1rem
            font-size: 1.8rem
            height: 5rem
            width: 40rem
        &-wrapper
            position: relative
        &-error
            position: absolute
            bottom: 0
            padding: .2rem 1rem
            right: 0
            background: red
            color: white
            font-size: 1.5rem
.search-status
    position: static
    img
        display: flex
        align-items: center
        justify-content: center
        width: 3.5rem
        height: 3.5rem
        object-fit: contain
        margin-top: .7rem
.pakman
    margin-top: 1rem
@media (max-width: 1300px)
    .main-search-input
        justify-content: center
        &-error
            padding: .2rem .5rem
@media (max-width: 700px)
    .main-search-input
        gap: 8rem
    .sorted li
        max-width: 15rem
    .main-search-input input
        max-width: 25rem
@media (max-width: 400px)
    .main-search-input-wrapper
        width: 100%
        text-align: center
        margin-bottom: 5rem
    .main-search-input input
        margin-bottom: .2rem
        width: 100%
        max-width: none
