.random-pokemons
    width: 100%
    margin: 0 auto
    margin-top: .2rem
    padding: 7rem 1rem
    background: url('../../imgs/back5.jpg') no-repeat
    background-size: cover
    @include respond(tab-land)
        min-height: 50rem
    @include respond(phoneL)
        padding: 3rem .5rem
    &__searchBtns
        display: flex
        flex-wrap: wrap
        row-gap: 1rem
        justify-content: end
    &__wrapper
        display: flex
    &__left
        width: 36%
        @include respond(tab-land)
            display: none
        &-img
            width: 52rem
            height: 55rem
            object-fit: contain
            position: relative
            margin-top: -8rem
            margin-left: -3rem
            img
                width: 100%
                height: 100%
                object-fit: contain
                border-radius: 2%
            &-screen
                position: absolute
                top: 8rem
                left: 22rem
                width: 18rem
                height: 14rem
                background: #f8f2f2
                img
                    width: 100%
                    height: 100%
                    object-fit: contain
                    &-info
                        position: absolute
                        bottom: -22rem
                        left: 1rem
                        font-size: 1.4rem
                        font-weight: bold
                        p span
                            text-transform: uppercase
    &__right
        width: 65%
        margin-top: 3rem
        @include respond(tab-land)
            width: 100%
        &-cards
            grid-template-rows: repeat(6, 1fr)
            grid-template-columns: repeat(12, 1fr)
            grid-gap: .5rem
            @include respond(tab-land)
                grid-template-columns: repeat(11, 1fr)
                @include respond(tab-port)
                    grid-template-columns: repeat(9, 1fr)
                @include respond(phoneL)
                    grid-template-columns: repeat(5, 1fr)
                @include respond(phoneM)
                    grid-template-columns: repeat(3, 1fr)
            &-item
                height: 8rem
                border: 1px solid #b6b4b4
                    // background: url('../../imgs/backCard3.jpg')
                background-size: cover
                border-radius: 1rem
                display: flex
                justify-content: center
                align-items: center
                animation: rightToLeft .4s ease
                @include respond(phoneL)
                    height: 5rem
                    @include respond(phoneM)
                        height: 7rem
                    &-active
                        background: #ff622d
                    &:hover
                        transform: translateY(-5px)
                div
                    width: 5rem
                    @include respond(phoneL)
                        width: 4rem
                    img
                        animation: opacityAnim 1s ease
                        width: 100%

// @media (max-width: 960px)
//     .coverPage
//         align-items: center
// @media (max-width: 470px)
//     .coverPage
//         background-position-x: center
//         &-wrapper
//             width: 100%
//             height: auto
//             padding: 0 .2rem
//         &-title
//             font-size: 3rem
//             width: 100%
//             margin: 0
//             background: #308796
//             border: 1px solid #676360
//     .navbar-img img
//         width: 70%
