.pokemons-screen
    position: absolute
    top: 8rem
    left: 22rem
    width: 18rem
    height: 14rem
    background: #f8f2f2
    @include respond(phoneL)
        left: 16.2rem
        top: 5.9rem
        width: 11rem
        height: 11rem
        background: #fff
    @include respond(phoneM)
        left: 14.4rem
        top: 5.5rem
        width: 10rem
        height: 9rem
    &__photo
        width: 100%
        height: 100%
        object-fit: contain
    &__info
        position: absolute
        bottom: -22rem
        left: 1rem
        font-weight: bold
        @include respond(phoneL)
            width: 100%
            bottom: -17rem
            font-size: 1.1rem
        @include respond(phoneM)
            bottom: -16rem
    &__description span
        text-transform: uppercase
